################################################################################
# solution_00_0.template
################################################################################

def solve(input_filename: str, input_data: list, use_debug: bool):
    pass    

################################################################################
# END
################################################################################